<footer class="footer bg-dark">

    <!-- Copyright -->
    <div>© 2018 Copyright:
      <span>Jesper Hägglund</span>
    </div>
    <!-- Copyright -->
  
</footer>
</body>
</html>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>
